
    {% include "../header.html" %}
    {% include "./dating_nav.html" %}
    <section>
        <p hidden id='dating_fee'>{{N}}</p>
        <div class="love mt-30">
            <div class="love_start">
                <div class="tools_row">
                    <span class="tools_label">约会主题：</span>
                    <div class="tools_radio">
                        <input type="radio" option="0" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">约饭</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="1" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">电影</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="2" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">交友</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="3" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">聊天</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="4" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">喝酒</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="5" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">唱歌</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="6" name="sjt">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">其他</span>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">约会时间：</span>
                    <div class="tools_input love_time">
                        <input name="dt" type="text" class="time" placeholder="点击选择时间">
                    </div>
                </div>
                <div class="tools_row">
                    <div class="select_city" id="city_9">
                        <span class="tools_label">约会地点：</span>
                        <div class="tools_select">
                            <div class="tools_select_text">北京市</div>
                            <select name="loc1" id="" class="prov"></select>
                        </div>
                        <div class="tools_select">
                            <div class="tools_select_text">东城区</div>
                            <select name="loc2" id="" class="city"></select>
                        </div>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">具体地点：</span>
                    <div class="tools_textarea">
                        <textarea name="locd" id="" placeholder="请输入具体地点"></textarea>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">约会对象：</span>
                    <div class="tools_radio">
                        <input type="radio" option="0" name="obj">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">男士</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="1" name="obj">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">女士</span>
                    </div>
                    <div class="tools_radio">
                        <input type="radio" option="2" name="obj">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">男女均可</span>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">约会人数：</span>
                    <div class="tools_input_group">
                        <input name="num" type="number" placeholder="请输入约会人数">
                        <span>人</span>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">约会费用：</span>
                    <div class="tools_radio">
                        <input option="0" type="radio" name="fee">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">发起人付</span>
                    </div>
                    <div class="tools_radio">
                        <input option="1" type="radio" name="fee">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">AA制</span>
                    </div>
                    <div class="tools_radio">
                        <input option="2" type="radio" name="fee">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">男士付款，女士免单</span>
                    </div>
                    <div class="tools_radio">
                        <input option="3" type="radio" name="fee">
                        <div class="tools_radio_bg"></div>
                        <span class="tools_radio_text">视情况定</span>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">约会补充：</span>
                    <div class="tools_textarea">
                        <textarea name="bc" id="" maxlength="150" placeholder="不超过150字~"></textarea>
                    </div>
                </div>
                <div class="tools_row">
                    <span class="tools_label">有效期限：</span>
                    <div class="tools_select">
                        <div class="tools_select_text"></div>
                        <select name="vt" id="">
                            <option value="1">一天<span>(需支付1爱豆)</span></option>
                            <option value="2">两天<span>(需支付2爱豆)</span></option>
                            <option value="3">三天<span>(需支付3爱豆)</span></option>
                            <option value="4">四天<span>(需支付4爱豆)</span></option>
                            <option value="5">五天<span>(需支付5爱豆)</span></option>
                            <option value="6">六天<span>(需支付6爱豆)</span></option>
                            <option value="7">七天<span>(需支付7爱豆)</span></option>
                        </select>
                    </div>
                </div>
                <div class="tools_submit">
                    <button type="button" class="launch_data">发起约会</button>
                </div>
            </div>
        </div>
    </section>

    {% include "../footer.html" %}


    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
                <div class="love_dialog_header">
                    充值<span class="love_dialog_close btn_dialog_close"></span>
                </div>
                <div class="love_dialog_content">
                    <div class="love_pay_content_1">
                        <p class="love_balance">
                            
                        </p>
                        <p>充值金额：</p>
                        <div class="love_rec_select">
                                <span name="0">10爱豆</span>
                                <span name="1">20爱豆</span>
                                <span name="2">50爱豆</span>
                                <span name="3">100爱豆</span>
                                <span name="4">200爱豆</span>
                                <span name="5">500爱豆</span>
                                <span name="6">1000爱豆</span>
                        </div>
                        <!-- <div class="love_rec_input">
                            <input type="number" placeholder="输入您要充值的爱豆，如：30">
                        </div> -->
                        <p>支付方式：</p>
                        <div class="love_rec_pay">
                            <!-- <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div> -->
                            <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                        </div>
                        <div class="love_dialog_btns mt-30">
                            <button class="btn btn_pay_submit" type="button">确认</button>
                            <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                        </div>
                    </div>
                    <div class="love_pay_content_2">
                        <p class="love_content2_title"></p>
                        <p>收款方：佳良缘官方财务</p>
                        <div class="love_pay_code tc">
                            <p>扫码付款（元）</p>
                            <p><span class="love_pay_num">50.00</span></p>
                            <div id="qrcode" class="love_code_img">
                                <!-- <img  src="img/code.jpg" alt=""> -->
                            </div>
                            <h3>打开手机微信&emsp;扫一扫继续付款</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="../js/pc/jquery-min.js"></script>
    <script src="../js/pc/jquery.cityselect.js"></script>
    <script src="../js/pc/qrcode.js"></script>
    <script src="../js/pc/default.js"></script>
    <script src="../js/pc/time.js"></script>
    <script src="../js/pc/create_dating.js"></script>
    <script>
        onLoadTimeChoiceDemo();
        borainTimeChoice({
            start: ".time",
            end: "",
            level: "H",
            less: false
        });
    </script>
</body>

</html>
