
    <section>
        <div class="love_fluid love_try move mt-30">
            <div class="love">
                <ul class="love_try_tab">
                    <li>
                        <a href="/list_dating">
                            <span class="love_try_tab_1"></span> 最新约会
                        </a>
                    </li>
                    <li>
                        <a href="/city_dating">
                            <span class="love_try_tab_2"></span> 同城约会
                        </a>
                    </li>
                    <li>
                        <a href="/sponsor_dating">
                            <span class="love_try_tab_3"></span> 我发起的
                        </a>
                    </li>
                    <li>
                        <a href="/participate_dating">
                            <span class="love_try_tab_4"></span> 我参与的
                        </a>
                    </li>
                    <li>
                        <a href="/create_dating">
                            <span class="love_try_tab_5"></span> 发起约会
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
