
    {% include "../header.html" %}
    {% include "./dating_nav.html" %}
    <section>
        <div class="love">
            <div class="love_try_box">

            </div>
            <div class="love_page">
                    <ul class="pagination" id="page1">
                    </ul>
                    <div class="pageJump">
                        <span>跳转到</span>
                        <input type="text" />
                        <span>页</span>
                        <button type="button" class="button">确定</button>
                    </div>
                </div>
        </div>
    </section>

    {% include "../footer.html" %}

    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
            <div class="love_dialog_header">
                充值<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_pay_content_1">
                    <p>我的余额：<span>10</span>爱豆</p>
                    <p>充值金额：</p>
                    <div class="love_rec_select">
                        <span>1爱豆</span>
                        <span>10爱豆</span>
                        <span class="active">20爱豆</span>
                        <span>100爱豆</span>
                    </div>
                    <div class="love_rec_input">
                        <input type="number" placeholder="输入您要充值的爱豆，如：30">
                    </div>
                    <p>支付方式：</p>
                    <div class="love_rec_pay">
                        <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div>
                        <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                    </div>
                    <div class="love_dialog_btns mt-30">
                        <button class="btn btn_pay_submit" type="button">确认</button>
                        <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                    </div>
                </div>
                <div class="love_pay_content_2">
                    <p>尊敬的会员<span>疯狂的诗人</span>，您正在使用即时到帐付款功能，您即将付款<span>50.00</span>元。</p>
                    <p>收款方：佳良缘官方财务</p>
                    <div class="love_pay_code tc">
                        <p>扫码付款（元）</p>
                        <p><span>50.00</span></p>
                        <div class="love_code_img">
                            <img src="../img/code.jpg" alt="">
                        </div>
                        <h3>打开手机支付宝&emsp;扫一扫继续付款</h3>
                        <h3><span>初次使用请下载手机支付宝app</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-min.js"></script>
    <script src="../js/jquery.cityselect.js"></script>
    <script src="../js/pager.js"></script>
    <script src="../js/default.js"></script>
    <script src="../js/list_dating.js"></script>
    
</body>

</html>
