
    {% include "../header.html" %}
    {% include "./dating_nav.html" %}
    <section>
        <div class="love">
            <div class="love_try_box">
                <!-- <div class="love_none">
                    <div class="love_none_text">
                        <i></i>
                        <p>暂时没有任何约会信息，快去约会吧！</p>
                    </div>
                </div> -->
            </div>
            <div class="love_page">
                    <ul class="pagination" id="page1">
                    </ul>
                    <div class="pageJump">
                        <span>跳转到</span>
                        <input type="text" />
                        <span>页</span>
                        <button type="button" class="button">确定</button>
                    </div>
                </div>
        </div>
        
    </section>

    {% include "../footer.html" %}

    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
                <div class="love_dialog_header">
                    充值<span class="love_dialog_close btn_dialog_close"></span>
                </div>
                <div class="love_dialog_content">
                    <div class="love_pay_content_1">
                        <p class="love_balance">
                            
                        </p>
                        <p>充值金额：</p>
                        <div class="love_rec_select">
                            <span name="0">1爱豆</span>
                            <span name="1">10爱豆</span>
                            <span name="2">20爱豆</span>
                            <span name="3">50爱豆</span>
                            <span name="4">200爱豆</span>
                            <span name="5">500爱豆</span>
                            <span name="6">1000爱豆</span>
                        </div>
                        <!-- <div class="love_rec_input">
                            <input type="number" placeholder="输入您要充值的爱豆，如：30">
                        </div> -->
                        <p>支付方式：</p>
                        <div class="love_rec_pay">
                            <!-- <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div> -->
                            <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                        </div>
                        <div class="love_dialog_btns mt-30">
                            <button class="btn btn_pay_submit" type="button">确认</button>
                            <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                        </div>
                    </div>
                    <div class="love_pay_content_2">
                        <p class="love_content2_title"></p>
                        <p>收款方：佳良缘官方财务</p>
                        <div class="love_pay_code tc">
                            <p>扫码付款（元）</p>
                            <p><span class="love_pay_num">50.00</span></p>
                            <div id="qrcode" class="love_code_img">
                                <!-- <img  src="img/code.jpg" alt=""> -->
                            </div>
                            <h3>打开手机微信&emsp;扫一扫继续付款</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="../js/jquery-min.js"></script>
    <script src="../js/qrcode.js"></script>
    <script src="../js/default.js"></script>
    <script src="../js/pager.js"></script>
    <script src="../js/participate_dating.js"></script>
</body>

</html>
