
        <div class="love mt-20">
            <div class="love_box_title love_title_boy">
                <span>最新注册女会员</span>
                <a class="love_box_more" href="">查看更多</a>
            </div>
        {% for e in D.get('new_female',[]) %}
            <div class="love_row">
                <div class="love_col love_col_4 love_item">
                    <div class="love_img">
                        <a href="detail.html" target="_blank">
                            <img src="{{e['img']}}" alt="girl">
                        </a>
                    </div>
                    <h2>{{e['name']}}
                        <span>（{{e['sex']}}）</span>
                    </h2>
                    <p>
                        <span>{{e['age']}}</span>
                        <span>{{e['height']}}</span>
                        <span>{{e['degree']}}</span>
                    </p>
                    <p class="love_text">{{e['state']}}</p>
                </div>
        {% end %}
            </div>
        </div>

        <div class="love mt-20">
            <div class="love_box_title love_title_girl">
                <span>最新注册男会员</span>
                <a class="love_box_more" href="">查看更多</a>
            </div>
            <div class="love_row">
            {% for e in D.get('new_male', []) %}
                <div class="love_col love_col_4 love_item">
                    <div class="love_img">
                        <a href="detail.html" target="_blank">
                            <img src="{{e['img']}}" alt="boy">
                        </a>
                    </div>
                    <h2>{{e['name']}}
                        <span>（{{e['sex']}}）</span>
                    </h2>
                    <p>
                        <span>{{e['age']}}</span>
                        <span>{{e['height']}}</span>
                        <span>{{e['degree']}}</span>
                    </p>
                    <p class="love_text">{{e['state']}}</p>
                </div>
            {% end %}
            </div>
        </div>
