@charset "utf-8";

/* tools */

.tools_label {
    display: inline-block;
    margin-right: -10px;
    vertical-align: top;
    line-height: 28px;
    text-align: right;
}

.tools_row {
    width: 100%;
    margin-bottom: 24px;
    position: relative;
}
.love_err_message {
    position: absolute;
    color: red;
    bottom: -20px;
    left: 83px;
    font-size: 12px;
    display: none;
}


/* radio & check */

.tools_radio,
.tools_check {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 0 12px;
    vertical-align: middle;
}

.tools_radio input,
.tools_check input {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
}

.tools_radio_bg,
.tools_check_bg {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #cccccc;
    border-radius: 100%;
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
    z-index: 1;
    margin-right: 5px;
}

.tools_check_bg {
    border-radius: 0;
}

.tools_radio input:checked+.tools_radio_bg::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    background: #f13973;
    border-radius: 100%;
}

.tools_check input:checked+.tools_check_bg::after {
    content: "\e6ad";
    font-family: loving_icon;
    color: #23a32f;
    font-size: 32px;
    position: absolute;
    left: -8px;
    top: -1px;
    line-height: 14px;
}


/* select */

.tools_select {
    display: inline-block;
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    position: relative;
    margin: 0 12px;
    vertical-align: middle;
}

.tools_select select {
    width: 100%;
    height: 28px;
    border: none;
    color: #555555;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.tools_select_text {
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-align: left;
    font-size: 14px;
}

.tools_select_text span {
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}

.tools_select::after {
    content: "\e6a6";
    font-family: loving_icon;
    display: block;
    width: 14px;
    height: 14px;
    background: #ffffff;
    position: absolute;
    right: 5px;
    top: 7px;
}

.love_edit .tools_select::after {
    top: 4px;
}

.select {
    display: inline-block;
}

.select_age {
    margin-left: 50px;
}

.select_age .tools_select {
    width: 70px;
}

.select_age .tools_select::before {
    content: '\e62a';
    font-family: loving_icon;
    position: absolute;
    right: -20px;
    top: 6px;
}

.select_age .tools_select:last-child::before {
    display: none;
}

.select_address {
    margin-left: 30px;
}

.select_address .tools_select {
    width: 160px;
}

.select_city {
    display: inline-block;
}

.select_city .tools_select {
    width: 75px;
    margin: 0 5px 0 12px;
    vertical-align: middle;
}

.select_city .tools_select:last-child {
    margin: 0 15px 0 0;
}

.love_edit .select_city .tools_select {
    width: 80px;
}

.tools_textarea {
    display: inline-block;
    margin: 0 8px;
    min-height: 60px;
}

.tools_textarea textarea {
    border: 1px solid #d6d6d6;
    height: 100%;
    resize: none;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 14px;
}

.tools_input_ver,
.tools_input,
.tools_input_group {
    display: inline-block;
    margin: 0 12px;
    position: relative;
    line-height: 28px;
    vertical-align: middle;
}

.love_time {
    width: 190px !important;
}

.tools_input_ver p {
    margin: 0 !important;
    text-align: left;
    position: absolute;
    font-size: 12px;
}

.tools_input_ver input,
.tools_input input,
.tools_input_group input {
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
    width: 100%;
}

.tools_input_ver input {
    width: 120px;
    margin: 0;
}

.tools_input_ver button.btn {
    width: 100px;
    float: right;
    font-size: 12px;
}

.tools_input_group span {
    position: absolute;
    right: 1px;
    padding-right: 10px;
    top: 1px;
    background: #fff;
}

.tools_submit {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 40px;
}

.tools_input_submit button.btn {
    width: auto;
    margin: 0 20px 0 10px;
}

.tools_submit button,
.tools_submit a {
    display: inline-block;
    width: 120px;
    height: 40px;
    border: none;
    background: #f13973;
    color: #ffffff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.tools_submit button:hover,
.tools_submit a:hover {
    background: #2cade3;
    color: #ffffff;
}

.love_search_more {
    cursor: pointer;
    margin-right: 5px;
    margin-left: -3px;
}

.love_search_more:hover,
.love_search_more.active:hover {
    color: #f13973;
}

.love_search_more::after {
    content: '\e671';
    font-family: loving_icon;
    margin-left: 5px;
    display: inline-block;
}

.love_search_more::before {
    content: '更多搜索';
    display: inline-block;
    width: 56px;
    text-align: right;
}

.love_search_more.active {
    color: #2cade3;
}

.love_search_more.active::before {
    content: '收起';
}

.love_search_more.active::after {
    -webkit-transform: rotate(180deg) translateY(1px);
    -ms-transform: rotate(180deg) translateY(1px);
    transform: rotate(180deg) translateY(1px);
}

.love_search_other {
    display: none;
}

.love_search_other>div:first-child {
    margin-left: 0;
}

.love_search_other>div:nth-child(2) {
    margin-left: 20px;
}

.love_search_other>div:nth-child(2) .tools_select {
    width: 170px;
}


/* page */

.love_page {
    text-align: center;
    margin: 20px 0;
}

.love_dialog_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 99990;
}

.love_dialog {
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
    z-index: 99991;
    background: #ffffff;
}

.love_dialog_alert {
    width: 510px;
    height: 240px;
}

.love_dialog_header {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background: #f13973;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.love_dialog_header em {
    font-size: 14px;
    color: rgba(255, 255, 255, .7)
}
.love_dialog_login_code{
    padding-bottom:25px;
}
.love_dialog_code_header {
    width:100%;
    height: 76px;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #555555;
}
#love_login_code_btn {
    cursor: pointer;
    width:44px;
}
.love_dialog_code_line {
    width:410px;
    height:1px;
    background: #d6d6d6;
    margin:0 auto;
}
.love_dialog_code_img{
    width:100%;
    text-align: center;
    padding:32px 0;
}
.love_dialog_code_img img{
    width:174px;
    margin:1px ;
    border:1px solid #dedede;
}
#love_login_code_way{
    color: #999999;
    font-size: 14px;
    margin:14px 0;
}
.love_dialog_code_footer{
    width:174px;
    margin:0 auto;
    padding:24px 0;
    display: flex;
    justify-content: space-around;
    color: #555555;
    font-size: 14px;
}
.love_dialog_code_footer_line{
    width:1px;
    height:15px;
    background: #555555;
}
.love_dialog_close {
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
}
.del_email{
    top: 40px;
}
.love_dialog_close:hover {
    color: #2cade3;
}

.love_dialog_close::after {
    content: '\e69a';
    font-family: loving_icon;
}

.love_dialog_content {
    padding: 30px;
}

.love_dialog_alert .love_dialog_content {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.love_dialog_alert .love_dialog_content span {
    font-size: 28px;
    color: #f13973;
    margin: 0 10px;
}

.love_dialog_btns {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.love_dialog_letter,
.love_dialog_message {
    width: 640px;
    height: 340px;
}

.love_show_payment{
    width: 290px;
    height: 180px;
}

.love_dialog_letter p,
.love_dialog_message p {
    margin-bottom: 10px;
}

.love_dialog_letter p span,
.love_dialog_message p span {
    font-weight: bold;
    margin: 0 10px
}

.love_dialog_letter .tools_textarea,
.love_dialog_message .tools_textarea {
    width: 100%;
    margin: 0;
    height: 160px;
}

.love_dialog_login,
.love_dialog_reg,
.love_dialog_password_phone,
.love_dialog_password_email,
.love_dialog_login_code {
    width: 490px;
}

.love_login_text {
    width: 330px;
    margin: 0 auto;
}

.love_login_text .tools_label {
    width: 70px;
}

.love_login_text .tools_input {
    width: 240px;
}

.tools_input button {
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.tools_input p {
    overflow: hidden;
    margin: 10px 0;
}

.tools_input p a {
    color: #999999;
}

.tools_input p a:hover {
    color: #f13973;
}

.love_login_fast {
    text-align: center;
    color: #999999;
    margin-top: -10px;
}

.love_login_fast h3 {
    position: relative;
    margin-bottom: 20px;
}

.love_login_fast h3::before,
.love_login_fast h3::after {
    content: '';
    display: block;
    width: 120px;
    height: 1px;
    background: #d6d6d6;
    position: absolute;
    top: 50%;
    left: 50%;
}

.love_login_fast h3::before {
    margin-left: -175px;
}

.love_login_fast h3::after {
    margin-left: 55px;
}

.love_login_fast_btns a {
    font-size: 40px;
    margin: 0 15px;
}

.love_login_fast_btns a.love_icon-qq {
    color: #2495dd;
}

.love_login_fast_btns a.love_icon-weixin-copy {
    color: #2aa92a;
}

.love_login_fast_btns a:hover {
    color: #f13973;
}

.love_reg_rule {
    margin-bottom: 10px;
}

.love_reg_rule span {
    color: #999999;
}

.love_reg_text .tools_row:last-child {
    margin-bottom: 0;
}

.love_dialog_password .love_dialog_content p {
    text-align: center;
    margin: 15px auto;
    overflow: hidden;
    color: #b6b6b6;
}

.love_dialog_password .love_dialog_content p span {
    color: #2fb3ea;
}

.love_dialog_password .love_dialog_content p a::after {
    content: '\e62e';
    font-family: loving_icon;
}

.btn_ver:disabled:hover,
.btn_ver:disabled {
    color: rgba(255, 255, 255, .7);
    background: #f13973;
    border-color: #f13973;
    cursor: not-allowed;
}

.tools_upload {
    width: 130px;
    height: 40px;
    border: 1px solid #f13973;
    border-radius: 3px;
    background: #ffffff;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.tools_upload span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 38px;
    text-align: center;
    z-index: 1;
}

.tools_upload input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
}