<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>佳良缘</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/tools.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    {% include "header.html" %}
    <section>
        <div class="love mt-30">
            <div class="love_box_title border_none love_title_material">
                <span>基本资料</span>
            </div>
            <div class="love_mater love_mater_box love_center_mater_box">
                <div class="love_center_mater">
                    <div class="love_mater_left">
                        <div class="love_mater_img love_mater_photo move">
                            <img id="love_user_portrait" alt="">
                        </div>
                    </div>
                    <div class="love_mater_right" id="love_center_right">
                    {% if not me %}
                        
                        <p>
                            <button class="btn btn_plain btn_dialog btn_send" type="button">发信</button>
                            <button class="btn btn_plain btn_yanyuan" type="button">有眼缘</button>
                    {% end %}
                        </p>
                    </div>
                </div>
                <div class="love_row mt-30">
                    <div class="picScroll-left">
                        <a class="next love_icon love_icon-more"></a>
                        <a class="prev love_icon love_icon-back"></a>
                        <div class="bd">
                            <ul class="picList" data-flag="true">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="love mt-30">
            <div class="love_box_title border_none love_title_heart">
                <span>内心独白</span>
            </div>
            <div class="love_mater love_heart">
                <!--<p>我的择偶标准简单例句一下：</p> -->
                <p id="love_heart_content"></p>
            </div>
        </div>

        <div class="love mt-30">
            <div class="love_box_title border_none love_title_other">
                <span>其他资料</span>
            </div>
            <div class="love_mater love_other">
                <div class="love_other_box">
                    <div class="love_row" id="love_material">
                    </div>
                    <div class="love_row">
                        <div class="love_col love_col_5">
                            <span class="tools_label">手机：</span>
                            <div class="tools_input">
                            {% if other['mobile'] and not me and saw['mobile'] == 0 %}
                                {% if other['public_m'] %}
                                    ********
                                {% else %}
                                    未公开
                                {% end %}
                            {% elif me %}
                                {% if other['mobile'] %}
                                    {{other['mobile']}}
                                {% else %}
                                    未填
                                {% end %}
                            {% else %}
                                {% if other['mobile'] and other['public_m'] %}
                                    {{other['mobile']}}
                                {% elif not other['mobile'] %}
                                    未填
                                {% elif not other['public_m'] %}
                                    未公开
                                {% end %}
                            {% end %}
                            </div>
                            {% if other['mobile'] and not me and saw['mobile'] == 0 and other['public_m'] %}
                            <div class="love_other_tools">
                                <button name="1" class="btn_center love_seeother">查看</button>
                            </div>
                            {% end %}
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">邮箱：</span>
                            <div class="tools_input">
                            {% if other['email'] and not me and saw['email'] == 0%}
                                {% if other['public_e'] %}
                                    ********
                                {% else %}
                                    未公开
                                {% end %}
                            {% elif me %}
                                {% if other['email'] %}
                                    {{other['email']}}
                                {% else %}
                                    未填
                                {% end %}
                            {% else %}
                                {% if other['email'] and other['public_e'] %}
                                    {{other['email']}}
                                {% elif not other['email'] %}
                                    未填
                                {% elif not other['public_e'] %}
                                    未公开
                                {% end %}
                            {% end %}
                            </div>
                            {% if other['email'] and not me and saw['email'] == 0  and other['public_e'] %}
                            <div class="love_other_tools">
                                <button name="4" class="btn_center love_seeother">查看</button>
                            </div>
                            {% end %}
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">微信：</span>
                            <div class="tools_input">
                            {% if other['wx'] and not me and saw['wx'] == 0 %}
                                {% if other['public_w'] %}
                                    ********
                                {% else %}
                                    未公开
                                {% end %}
                            {% elif me %}
                                {% if other['wx'] %}
                                    {{other['wx']}}
                                {% else %}
                                    未填
                                {% end %}
                            {% else %}
                                {% if other['wx'] and other['public_w'] %}
                                    {{other['wx']}}
                                {% elif not other['wx'] %}
                                    未填
                                {% elif not other['public_w'] %}
                                    未公开
                                {% end %}
                            {% end %}
                            </div>
                            {% if other['wx'] and not me and saw['wx'] == 0  and other['public_w'] %}
                            <div class="love_other_tools">
                                <button name="2" class="btn_center love_seeother">查看</button>
                            </div>
                            {% end %}
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">QQ：</span>
                            <div class="tools_input">
                            {% if other['qq'] and not me and saw['qq'] == 0 %}
                                {% if other['public_q'] %}
                                    ********
                                {% else %}
                                    未公开
                                {% end %}
                            {% elif me %}
                                {% if other['qq'] %}
                                    {{other['qq']}}
                                {% else %}
                                    未填
                                {% end %}
                            {% else %}
                                {% if other['qq'] and other['public_q'] %}
                                    {{other['qq']}}
                                {% elif not other['qq'] %}
                                    未填
                                {% elif not other['public_q'] %}
                                    未公开
                                {% end %}
                            {% end %}
                            </div>
                            {% if other['qq'] and not me and saw['qq'] == 0  and other['public_q'] %}
                            <div class="love_other_tools">
                                <button name="3" class="btn_center love_seeother">查看</button>
                            </div>
                            {% end %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html" %}
    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
            <div class="love_dialog_header">
                充值<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_pay_content_1">
                    <p>我的余额：<span>10</span>爱豆</p>
                    <p>充值金额：</p>
                    <div class="love_rec_select">
                        <span>1爱豆</span>
                        <span>10爱豆</span>
                        <span class="active">20爱豆</span>
                        <span>100爱豆</span>
                    </div>
                    <div class="love_rec_input">
                        <input type="number" placeholder="输入您要充值的爱豆，如：30">
                    </div>
                    <p>支付方式：</p>
                    <div class="love_rec_pay">
                        <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div>
                        <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                    </div>
                    <div class="love_dialog_btns mt-30">
                        <button class="btn btn_pay_submit" type="button">确认</button>
                        <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                    </div>
                </div>
                <div class="love_pay_content_2">
                    <p>尊敬的会员<span>疯狂的诗人</span>，您正在使用即时到帐付款功能，您即将付款<span>50.00</span>元。</p>
                    <p>收款方：佳良缘官方财务</p>
                    <div class="love_pay_code tc">
                        <p>扫码付款（元）</p>
                        <p><span>50.00</span></p>
                        <div class="love_code_img">
                            <img src="img/code.jpg" alt="">
                        </div>
                        <h3>打开手机支付宝&emsp;扫一扫继续付款</h3>
                        <h3><span>初次使用请下载手机支付宝app</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- 图片预览 -->
        <div class="love_img_pic d_n">
            <div class="picScroll">
                <a class="next love_icon love_icon-more"></a>
                <a class="prev love_icon love_icon-back"></a>
                <div class="bd">
                    <ul class="picList">
                    </ul>
                </div>
            </div>
        </div>
        <!-- 回复 -->
        <div class="love_dialog_message d_n">
            <div class="love_dialog_header">
                回复消息<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <p>发送给<span id="send_name">茉莉花在北极</span>：</p>
                <div class="tools_textarea">
                    <textarea name="" id="love_write" placeholder="不超过500字~"></textarea>
                </div>
            </div>
            <div class="love_dialog_btns">
                <button class="btn love_send_message" type="button">发送</button>
                <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
            </div>
        </div>
        <div class="love_show_payment d_n">
            <div class="love_dialog_header">
                提示<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content payment_money">
                
            </div>
            <div class="love_dialog_btns">
                <button class="btn love_payment_btn" type="button">发送</button>
                <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
            </div>
        </div>
    </div>

    <script src="js/jquery-min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/default.js"></script>
    <script src="js/detail.js"></script>
    <script type="text/javascript">
        jQuery(".picScroll-left").slide({
            mainCell: ".bd ul",
            autoPage: true,
            effect: "left",
            autoPlay: false,
            vis: 5,
            scroll: 1,
            pnLoop: false,
            trigger: "click",
            opp: true,
            prevCell: ".prev",
            nextCell: ".next"
        });
    </script>
</body>

</html>
