<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>佳良缘</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/tools.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    {% include "../header.html" %}
    <section>
        <div class="love mt-30">
            <div class="love_box_title border_none love_title_material">
                <span>基本资料</span>
            </div>
            <div class="love_mater love_mater_box love_center_mater_box">
                <div class="love_center_mater">
                    <div class="love_mater_left">
                        <div class="love_mater_img love_mater_photo move">
                            <img src="img/img1.jpg" alt="">
                        </div>
                        <p>资料完善度<span>80%</span></p>
                    </div>
                    <div class="love_mater_right">
                        <h2>巴拉难斗地主<span>（男）</span></h2>
                        <div class="love_mater_detail">
                            <span>意向：交友</span>
                            <span>年龄：20岁</span>
                            <span>婚姻：未婚</span>
                            <span>星座：双子座</span>
                            <span>属相：狗</span>
                            <span>血型：O</span>
                            <span>体重：45KG</span>
                            <span>身高：160CM</span>
                            <span>学历：本科</span>
                            <span>民族：汉族</span>
                            <span>现居：北京</span>
                            <span>籍贯：中国/河北/石家庄</span>
                        </div>
                        <p>
                            <span>简介：</span>
                            <span class="text_over2">爱一个人意味着什么呢？这意味着为他的幸福而高兴，为使他能够幸福而去做需要做的一切，并从这当中得到快乐。一般的宿命，就是我们总会遇见一些人遭遇一些事。然后，看着命中注定的事发生，却无能为力爱一个人意味着什么呢？这意味着为他的幸福而高兴，为使他能够幸福而去做需要做的一切，并从这当中得到快乐。一般的宿命，就是我们总会遇见一些人遭遇一些事。然后，看着命中注定的事发生，却无能为力…</span>
                        </p>
                        <p>
                            <span>兴趣：</span>
                            <em>爬山</em>
                            <em>画画</em>
                            <em>旅行</em>
                            <em>健身</em>
                        </p>
                        <p>
                            <button class="btn btn_plain btn_dialog btn_send" type="button">发信</button>
                            <button class="btn btn_plain" type="button">有眼缘</button>
                        </p>
                    </div>
                </div>
                <div class="love_row mt-30">
                    <div class="picScroll-left">
                        <a class="next love_icon love_icon-more"></a>
                        <a class="prev love_icon love_icon-back"></a>
                        <div class="bd">
                            <ul class="picList" data-flag="true">
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                                <li><img src="img/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="love mt-30">
            <div class="love_box_title border_none love_title_heart">
                <span>内心独白</span>
            </div>
            <div class="love_mater love_heart">
                <p>我的择偶标准简单例句一下：</p>
                <p>1、160~170cm。2、身体健康无不良习惯。3、不爱八卦逛淘宝。4、会点心、烤曲奇、做蛋糕，愿意每天在男人做菜前备好料、做完菜收拾桌子洗碗。5、告诉你不方便接电话的时候不追问。6、主动有情趣，懂男人的需要。7、在男人事业不顺时懂得怎么安慰他、鼓励他，不拖后腿，为他着想。8、每次约会不作不生气，规划好什么玩什么。9、收入不能少于男人的75%。10、坚持锻炼身体。11、自己最好有车。</p>
            </div>
        </div>

        <div class="love mt-30">
            <div class="love_box_title border_none love_title_other">
                <span>其他资料</span>
            </div>
            <div class="love_mater love_other">
                <div class="love_other_box">
                    <div class="love_row">
                        <div class="love_col love_col_4">性格特征：开朗、活泼、</div>
                        <div class="love_col love_col_4">参加工作：已参加</div>
                        <div class="love_col love_col_4">公司类型：教育</div>
                        <div class="love_col love_col_4">职业类型：教育</div>
                        <div class="love_col love_col_4">月薪：8000-10000</div>
                        <div class="love_col love_col_4">投资理财：无</div>
                        <div class="love_col love_col_4">购车：已购</div>
                        <div class="love_col love_col_4">购房：— —</div>
                    </div>
                    <div class="love_row">
                        <div class="love_col love_col_5">
                            <span class="tools_label">手机：</span>
                            <div class="tools_input">— — —</div>
                            <div class="love_other_tools">
                                <button class="btn_center">查看</button>
                            </div>
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">邮箱：</span>
                            <div class="tools_input">— — —</div>
                            <div class="love_other_tools">
                                <button class="btn_center">查看</button>
                            </div>
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">微信：</span>
                            <div class="tools_input">— — —</div>
                            <div class="love_other_tools">
                                <button class="btn_center">查看</button>
                            </div>
                        </div>
                        <div class="love_col love_col_5">
                            <span class="tools_label">QQ：</span>
                            <div class="tools_input">— — —</div>
                            <div class="love_other_tools">
                                <button class="btn_center">查看</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="love_fluid love_footer">
            <div class="love">
                <div class="love_footer_text">
                    <div class="love_row">
                        <a href="">关于我们</a>
                        <a href="">联系我们</a>
                        <a href="">加入我们</a>
                    </div>
                    <p>蜀ICP备17035293号&emsp;川网备号12345号&emsp;电信业务经营许可证：川B2-12345</p>
                    <p>版权所有 ©2017—2020 四川佳良缘网络科技有限公司</p>
                </div>
                <div class="love_footer_code">
                    <img src="img/code.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>

    <div class="love_tools">
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-home"></a>
        </div>
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-phone"></a>
            <div class="love_tools_label">电话：4008-326-222</div>
        </div>
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-message"></a>
        </div>
        <div class="love_tools_item love_back_top">
            <a href="javascript:(0);" class="love_icon love_icon-fanhuidingbu"></a>
        </div>
    </div>
    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
            <div class="love_dialog_header">
                充值<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_pay_content_1">
                    <p>我的余额：<span>10</span>爱豆</p>
                    <p>充值金额：</p>
                    <div class="love_rec_select">
                        <span>1爱豆</span>
                        <span>10爱豆</span>
                        <span class="active">20爱豆</span>
                        <span>100爱豆</span>
                    </div>
                    <div class="love_rec_input">
                        <input type="number" placeholder="输入您要充值的爱豆，如：30">
                    </div>
                    <p>支付方式：</p>
                    <div class="love_rec_pay">
                        <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div>
                        <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                    </div>
                    <div class="love_dialog_btns mt-30">
                        <button class="btn btn_pay_submit" type="button">确认</button>
                        <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                    </div>
                </div>
                <div class="love_pay_content_2">
                    <p>尊敬的会员<span>疯狂的诗人</span>，您正在使用即时到帐付款功能，您即将付款<span>50.00</span>元。</p>
                    <p>收款方：佳良缘官方财务</p>
                    <div class="love_pay_code tc">
                        <p>扫码付款（元）</p>
                        <p><span>50.00</span></p>
                        <div class="love_code_img">
                            <img src="img/code.jpg" alt="">
                        </div>
                        <h3>打开手机支付宝&emsp;扫一扫继续付款</h3>
                        <h3><span>初次使用请下载手机支付宝app</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- 图片预览 -->
        <div class="love_img_pic d_n">
            <div class="picScroll">
                <a class="next love_icon love_icon-more"></a>
                <a class="prev love_icon love_icon-back"></a>
                <div class="bd">
                    <ul class="picList">
                    </ul>
                </div>
            </div>
        </div>
        <!-- 回复 -->
        <div class="love_dialog_message d_n">
            <div class="love_dialog_header">
                回复消息<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <p>发送给<span>茉莉花在北极</span>：</p>
                <div class="tools_textarea">
                    <textarea name="" id="" placeholder="不超过500字~"></textarea>
                </div>
            </div>
            <div class="love_dialog_btns">
                <button class="btn" type="button">发送</button>
                <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
            </div>
        </div>
    </div>

    <script src="js/jquery-min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/default.js"></script>
    <script type="text/javascript">
        jQuery(".picScroll-left").slide({
            mainCell: ".bd ul",
            autoPage: true,
            effect: "left",
            autoPlay: false,
            vis: 5,
            scroll: 1,
            pnLoop: false,
            trigger: "click",
            opp: true,
            prevCell: ".prev",
            nextCell: ".next"
        });
    </script>
</body>

</html>
