

    <footer>
        <div class="love_fluid love_footer">
            <div class="love">
                <div class="love_footer_text">
                    <div class="love_row">
                        <a href="">关于我们</a>
                        <a href="">联系我们</a>
                        <a href="">加入我们</a>
                    </div>
                    <p>蜀ICP备18003572号&emsp;川网备号12345号&emsp;电信业务经营许可证：川B2-12345</p>
                    <p>版权所有 ©2017—2020 四川佳良缘网络科技有限公司</p>
                </div>
                <div class="love_footer_code">
                    <img src="../img/code.jpg" alt="">
                </div>
            </div>
            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010802000485" style="display:inline-block;text-decoration:none;height:20px;line-height:20px; width=100%;">
                    <img src="img/gongan.png" style="float:left; height:20px; width:20px;"/>
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51010802000485号</p>
                </a>
            </div>
        </div>
    </footer>
