
    <footer>
        <div class="love_fluid love_footer">
            <div class="love">
                <div class="love_footer_text">
                    <div class="love_row">
                        <a href="">关于我们</a>
                        <a href="">联系我们</a>
                        <a href="">加入我们</a>
                    </div>
                    <p>蜀ICP备 18003572号&emsp; <img class="love_footer_img" src="img/police.jpg" alt="">川网备号 51010802000485号&emsp;电信业务经营许可证：川B2-12345</p>
                    <p>版权所有 ©2017—2020 四川佳良缘网络科技有限公司</p>
                </div>
                <div class="love_footer_code">
                    <img src="img/code.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>
