
    <header>
        <div class="love love_header clear">
            <a class="love_header_logo" href="/">
                <img src="img/logo.png" alt="佳良缘">
            </a>
            <ul class="love_nav">
                <li class="active">
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="dating/tryst.html">约会</a>
                </li>
                <li>
                    <a href="seeking/seeking.html">征婚</a>
                </li>
                <li>
                    <a href="self.html">自己找</a>
                </li>
                <li>
                    <a href="center/center.html">个人中心</a>
                </li>
            </ul>
            <div class="love_header_tools">
{% if not name %}
                <dl id="love_nologin">
                    <a class="btn_dialog btn_dialog_login" href="javascript:void(0);">登录</a>
                    <span>/</span>
                    <a class="btn_dialog btn_dialog_reg" href="javascript:void(0);">注册</a>
                </dl>
{% else %}
                <a id="love_recharge" class="btn_dialog btn_recharge" data-flag="true" href="javascript:void(0);">充值</a>
                <dl id="love_islogin" class="love_header_tools_center">
                    <dt><a id="login_name" href="/center">走走停停</a></dt>
                    <dd><a class="/logout" href="">退出登录</a></dd>
                </dl>
{% end %}
            </div>
        </div>
    </header>
