<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>佳良缘</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/tools.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pager.css">
    <link rel="stylesheet" href="../css/time.css">
</head>

<body>
    <header>
        <div class="love love_header clear">
            <a class="love_header_logo" href="/">
                <img src="img/logo.png" alt="佳良缘">
            </a>
            <ul class="love_nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/list_dating">约会</a>
                </li>
                <li>
                    <a href="/list_zhenghun">征婚</a>
                </li>
                <li>
                    <a href="/find">自己找</a>
                </li>
                <li>
                    <a href="/center">个人中心</a>
                </li>
            </ul>
            <div class="love_header_tools">
{% if not name %}
                <dl id="love_nologin">
                    <a class="btn_dialog btn_dialog_login" href="javascript:void(0);">登录</a>
                    <span>/</span>
                    <a class="btn_dialog btn_dialog_reg" href="javascript:void(0);">注册</a>
                </dl>
{% else %}
                <a href="/email" class="love_icon love_icon-lingdang"></a>
                <a id="love_recharge" class="btn_dialog btn_recharge" data-flag="true" href="javascript:void(0);">充值</a>
                <dl id="love_islogin" class="love_header_tools_center">
                    <dt><a id="login_name" href="/center">{{name}}</a></dt>
                    <dd><a class="logout" href="/logout">退出登录</a></dd>
                    <dd><a class="logout btn_dialog_password" href="javascript:void(0);">修改密码</a></dd>
                </dl>
{% end %}
            </div>
        </div>
    </header>
    <!-- <script src="js/default.js"></script> -->
