
    {% include "header.html" %}
    <section>
        <div class="love">
            <div class="love_search_box mt-20">
                <span class="tools_label">性别：</span>
                <div class="tools_radio">
                    <input type="radio" option="1" name="sex">
                    <div class="tools_radio_bg"></div>
                    <span class="tools_radio_text">男士</span>
                </div>
                <div class="tools_radio">
                    <input type="radio" option="2" name="sex">
                    <div class="tools_radio_bg"></div>
                    <span class="tools_radio_text">女士</span>
                </div>
                <div class="select select_age">
                    <span class="tools_label">年龄：</span>
                    <div class="tools_select">
                        <div class="tools_select_text"></div>
                        <select name="agemin" id="">
                            <option values="">不限</option>
                        {% for i in xrange(61) %}
                            {% if i > 17 %}
                            <option value="{{i}}">{{i}}</option>
                            {% end %}
                        {% end %}
                        </select>
                    </div>
                    <div class="tools_select">
                        <div class="tools_select_text"></div>
                        <select name="agemax" id="">
                            <option value="">不限</option>
                        {% for i in xrange(61) %}
                            {% if i > 17 %}
                            <option value="{{i}}">{{i}}</option>
                            {% end %}
                        {% end %}
                        </select>
                    </div>
                </div>
                <div class="select select_address">
                    <div class="select_city" id="city_8">
                        <span class="tools_label">现居：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="cur1" id="" class="prov"></select>
                        </div>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="cur2" id="" class="city"></select>
                        </div>
                    </div>
                </div>
                <div class="select select_address">
                    <div class="select_city" id="city_9">
                        <span class="tools_label">籍贯：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="ori1" id="" class="prov"></select>
                        </div>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="ori2" id="" class="city"></select>
                        </div>
                    </div>
                </div>
                <span class="love_search_more"></span>
                <button class="btn fr search_self" type="button">搜索</button>
                <div class="love_search_other mt-20">
                    <div class="select select_address">
                        <span class="tools_label">学历：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="degree" id="">
                                <option value="">不限</option>
                                <option value="1">高中及以下</option>
                                <option value="2">中专/大专</option>
                                <option value="3">本科</option>
                                <option value="4">研究生</option>
                                <option value="5">博士及博士后</option>
                            </select>
                        </div>
                    </div>
                    <div class="select select_address">
                        <span class="tools_label">月薪：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="salary" id="">
                                    <option value="">不限</option>
                                    <option value="1">2000以下</option>
                                    <option value="2">2000~5000</option>
                                    <option value="3">5000~10000</option>
                                    <option value="4">10000~20000</option>
                                    <option value="5">20000~50000</option>
                                    <option value="6">50000以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="select select_address">
                        <span class="tools_label">星座：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="xingzuo" id="">
                                    <option value="">不限</option>
                                    <option value="1">白羊座</option>
                                    <option value="2">金牛座</option>
                                    <option value="3">双子座</option>
                                    <option value="4">巨蟹座</option>
                                    <option value="5">狮子座</option>
                                    <option value="6">处女座</option>
                                    <option value="7">天秤座</option>
                                    <option value="8">天蝎座</option>
                                    <option value="9">射手座</option>
                                    <option value="10">摩羯座</option>
                                    <option value="11">水瓶座</option>
                                    <option value="12">双鱼座</option>
                                  </select>
                        </div>
                    </div>
                    <div class="select select_address">
                        <span class="tools_label">生肖：</span>
                        <div class="tools_select">
                            <div class="tools_select_text"></div>
                            <select name="shengxiao" id="">
                                    <option value="">不限</option>
                                    <option value="1">鼠</option>
                                    <option value="2">牛</option>
                                    <option value="3">虎</option>
                                    <option value="4">兔</option>
                                    <option value="5">龙</option>
                                    <option value="6">蛇</option>
                                    <option value="7">马</option>
                                    <option value="8">羊</option>
                                    <option value="9">猴</option>
                                    <option value="10">鸡</option>
                                    <option value="11">狗</option>
                                    <option value="12">猪</option>
                                 </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="love_row love_box_line">
            </div>
            <div class="love_page">
                <ul class="pagination" id="page1">
                </ul>
                <div class="pageJump">
                    <span>跳转到</span>
                    <input type="text" />
                    <span>页</span>
                    <button type="button" class="button">确定</button>
                </div>
            </div>
        </div>
    </section>

    {% include "./footer.html" %}
   
    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
                <div class="love_dialog_header">
                    充值<span class="love_dialog_close btn_dialog_close"></span>
                </div>
                <div class="love_dialog_content">
                    <div class="love_pay_content_1">
                        <p class="love_balance">
                            
                        </p>
                        <p>充值金额：</p>
                        <div class="love_rec_select">
                            <span name="0">1爱豆</span>
                            <span name="1">10爱豆</span>
                            <span name="2">20爱豆</span>
                            <span name="3">50爱豆</span>
                            <span name="4">200爱豆</span>
                            <span name="5">500爱豆</span>
                            <span name="6">1000爱豆</span>
                        </div>
                        <!-- <div class="love_rec_input">
                            <input type="number" placeholder="输入您要充值的爱豆，如：30">
                        </div> -->
                        <p>支付方式：</p>
                        <div class="love_rec_pay">
                            <!-- <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div> -->
                            <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                        </div>
                        <div class="love_dialog_btns mt-30">
                            <button class="btn btn_pay_submit" type="button">确认</button>
                            <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                        </div>
                    </div>
                    <div class="love_pay_content_2">
                        <p class="love_content2_title"></p>
                        <p>收款方：佳良缘官方财务</p>
                        <div class="love_pay_code tc">
                            <p>扫码付款（元）</p>
                            <p><span class="love_pay_num">50.00</span></p>
                            <div id="qrcode" class="love_code_img">
                                <!-- <img  src="img/code.jpg" alt=""> -->
                            </div>
                            <h3>打开手机微信&emsp;扫一扫继续付款</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="js/jquery-min.js"></script>
    <script src="js/jquery.cityselect.js"></script>
    <script src="js/qrcode.js"></script>
    <script src="js/pager.js"></script>
    <script src="js/default.js"></script>
    <script src="js/self_find.js"></script>
</body>

</html>
