
    <section>
        <div class="love mt-30">
            <ul class="love_center_tab">
                <li class="center_nav">
                    <a href="/center">个人资料</a>
                </li>
                <li class="center_nav">
                    <a href="/mysee">我看过谁</a>
                </li>
                <li class="center_nav">
                    <a href="/seeme">谁看过我</a>
                </li>
                <li class="center_nav">
                    <a href="/icare">我关注的</a>
                </li>
                <li class="center_nav">
                    <a href="/careme">关注我的</a>
                </li>
            </ul>
        </div>
    </section>
