
    {% include "../header.html" %}
    {% include "./center_nav.html" %}
    
    <section>
        <div class="love love_center_see">
            <div class="tr">
                <div class="tools_label">时间：</div>
                <div class="tools_select">
                    <div class="tools_select_text"></div>
                    <select name="" id="">
                        <option value="18">全部</option>
                    </select>
                </div>
            </div>
            <div class="love_see_box">
                <div class="love_see_content love_row">
                    <!-- <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div>
                    <div class="love_col love_col_6 love_see_item">
                        <div class="love_see_item_img">
                            <a href="../detail.html" target="_blank">
                                <img src="../img/img1.jpg" alt="">
                            </a>
                        </div>
                        <h2>夏天未迁<span>（女）</span></h2>
                        <p>
                            <span>22岁</span>
                            <span>四川成都</span>
                        </p>
                        <h3>2018/01/08 07:35</h3>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="love">
            <div class="love_page">
                <div>
                    <span class="love_icon love_icon-back disabled"></span>
                    <span class="active">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span class="love_page_more">...</span>
                    <span>30</span>
                    <span class="love_icon love_icon-more"></span>
                    <span class="love_total">共90页</span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="love_fluid love_footer">
            <div class="love">
                <div class="love_footer_text">
                    <div class="love_row">
                        <a href="">关于我们</a>
                        <a href="">联系我们</a>
                        <a href="">加入我们</a>
                    </div>
                    <p>蜀ICP备17035293号&emsp;川网备号12345号&emsp;电信业务经营许可证：川B2-12345</p>
                    <p>版权所有 ©2017—2020 四川佳良缘网络科技有限公司</p>
                </div>
                <div class="love_footer_code">
                    <img src="../img/code.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>


    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
            <div class="love_dialog_header">
                充值<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_pay_content_1">
                    <p>我的余额：<span>10</span>爱豆</p>
                    <p>充值金额：</p>
                    <div class="love_rec_select">
                        <span>1爱豆</span>
                        <span>10爱豆</span>
                        <span class="active">20爱豆</span>
                        <span>100爱豆</span>
                    </div>
                    <div class="love_rec_input">
                        <input type="number" placeholder="输入您要充值的爱豆，如：30">
                    </div>
                    <p>支付方式：</p>
                    <div class="love_rec_pay">
                        <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div>
                        <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                    </div>
                    <div class="love_dialog_btns mt-30">
                        <button class="btn btn_pay_submit" type="button">确认</button>
                        <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                    </div>
                </div>
                <div class="love_pay_content_2">
                    <p>尊敬的会员<span>疯狂的诗人</span>，您正在使用即时到帐付款功能，您即将付款<span>50.00</span>元。</p>
                    <p>收款方：佳良缘官方财务</p>
                    <div class="love_pay_code tc">
                        <p>扫码付款（元）</p>
                        <p><span>50.00</span></p>
                        <div class="love_code_img">
                            <img src="../img/code.jpg" alt="">
                        </div>
                        <h3>打开手机支付宝&emsp;扫一扫继续付款</h3>
                        <h3><span>初次使用请下载手机支付宝app</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-min.js"></script>
    <script src="../js/default.js"></script>
    <script src="../js/center.js"></script>
    <script src="../js/icare.js"></script>
</body>

</html>
