<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>佳良缘</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/tools.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    {% include "../header.html" %}
    <section>
        <div class="love love_inbox mt-30">
            <div class="love_inbox_tab">
                <span type="in" class="active" >收件箱</span>
                <span type="out">发件箱</span>
            </div>
            <div class="tr">
                <div class="tools_label">时间：</div>
                <div class="tools_select">
                    <div class="tools_select_text"></div>
                    <select name="" id="">
                        <option value="18">全部</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="love email_inbox">
            <!--
            <div class="love_inbox_line active">
                <div class="love_inbox_img">
                    <a href="../detail.html" target="_blank">
                        <img src="../img/img2.jpg" alt="">
                    </a>
                </div>
                <div class="love_inbox_text">
                    <p>
                        <span>[系统消息]</span>
                        <em>夏天未迁</em>
                        <i>关注了你</i>
                    </p>
                    <h3>
                        <button class="btn btn_dialog btn_message">马上回复</button>
                        <button class="btn btn_plain btn_dialog btn_see">查看</button>
                    </h3>
                </div>
                <div class="love_inbox_time">2018/01/08 07:35</div>
            </div>
            -->
        </div>
        <div class="love">
            <div class="love_page">
                <div>
                    <span class="love_icon love_icon-back disabled"></span>
                    <span class="active">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span class="love_page_more">...</span>
                    <span>30</span>
                    <span class="love_icon love_icon-more"></span>
                    <span class="love_total">共90页</span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="love mt-20">
            <div class="love_box_title love_title_lately">
                <span>最近联系人</span>
            </div>
            <div class="love_inbox_lately">
                <!-- <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div>
                <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div>
                <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div>
                <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div>
                <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div>
                <div class="love_lately_item">
                    <div class="love_lately_img">
                        <a href="../detail.html" target="_blank">
                            <img src="../img/img2.jpg" alt="">
                        </a>
                    </div>
                    <h2>夏天未迁<span>（女）</span></h2>
                    <p>2018/01/08 07:35</p>
                </div> -->
            </div>
        </div>
    </section>

    {% include "../footer.html" %}

    <div class="love_tools">
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-home"></a>
        </div>
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-phone"></a>
            <div class="love_tools_label">电话：4008-326-222</div>
        </div>
        <div class="love_tools_item">
            <a href="" class="love_icon love_icon-message"></a>
        </div>
        <div class="love_tools_item love_back_top">
            <a href="javascript:(0);" class="love_icon love_icon-fanhuidingbu"></a>
        </div>
    </div>

    <div class="love_dialog">
        <!-- 充值 -->
        <div class="love_dialog_rec d_n">
            <div class="love_dialog_header">
                充值<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_pay_content_1">
                    <p>我的余额：<span>10</span>爱豆</p>
                    <p>充值金额：</p>
                    <div class="love_rec_select">
                        <span>1爱豆</span>
                        <span>10爱豆</span>
                        <span class="active">20爱豆</span>
                        <span>100爱豆</span>
                    </div>
                    <div class="love_rec_input">
                        <input type="number" placeholder="输入您要充值的爱豆，如：30">
                    </div>
                    <p>支付方式：</p>
                    <div class="love_rec_pay">
                        <div class="love_pay active"><i class="love_icon love_icon-zhifubao0"></i></div>
                        <div class="love_pay"><i class="love_icon love_icon-weixin"></i></div>
                    </div>
                    <div class="love_dialog_btns mt-30">
                        <button class="btn btn_pay_submit" type="button">确认</button>
                        <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                    </div>
                </div>
                <div class="love_pay_content_2">
                    <p>尊敬的会员<span>疯狂的诗人</span>，您正在使用即时到帐付款功能，您即将付款<span>50.00</span>元。</p>
                    <p>收款方：佳良缘官方财务</p>
                    <div class="love_pay_code tc">
                        <p>扫码付款（元）</p>
                        <p><span>50.00</span></p>
                        <div class="love_code_img">
                            <img src="../img/code.jpg" alt="">
                        </div>
                        <h3>打开手机支付宝&emsp;扫一扫继续付款</h3>
                        <h3><span>初次使用请下载手机支付宝app</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- 回复 -->
        <div class="love_dialog_message d_n">
            <div class="love_dialog_header">
                回复消息<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <p>发送给<span id="send_name">茉莉花在北极</span>：</p>
                <div class="tools_textarea">
                    <textarea name="" id="send_back_content" placeholder="不超过500字~"></textarea>
                </div>
            </div>
            <div class="love_dialog_btns">
                <button class="btn send_back_message" type="button">发送</button>
                <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
            </div>
        </div>
        <!-- 查看消息 -->
        <div class="love_dialog_see d_n">
            <div class="love_dialog_header">
                夏天未迁的消息<span class="love_dialog_close btn_dialog_close"></span>
            </div>
            <div class="love_dialog_content">
                <div class="love_see_content">
                    <div class="love_see_img">
                        <img src="../img/img2.jpg" alt="">
                    </div>
                    <div class="love_see_text">
                        <div class="see_line">
                            <div>发件人：</div>
                            <div><em >夏天未迁</em></div>
                            <div class="fr">时&emsp;间：2018-02-06</div>
                        </div>
                        <div class="see_line">
                            <div>收件人：</div>
                            <div>小仙女</div>
                        </div>
                        <div class="see_line">
                            <div>正&emsp;文：</div>
                            <div class="see_text">
                                <p>篆字古写作“瑑”，从玉字旁，泛指在玉石上雕琢凹凸的花纹。后来竹帛成为通行的书写用具，于是篆字的形符，也由“玉”改为“竹”。篆刻艺术流传至今，不但发展出许多流派，方寸之间凝练的时光亦愈发引人玩味。以金属镂刻金石，以迭宕笔画描绘意蕴趣致，不仅是技巧的呈现，更是文化底蕴与内涵的展现。</p>
                                <p>而这项看似复杂艰深的技艺，如今您也可以轻松掌握。本周日，福匠邀您在资深手作师的一对一指导下，从零开始，亲手镌刻一枚印信，可做闲章，可为藏书印，可送与他人作为信物，亦可用于日常落款。独一无二，精雕细琢，方寸之间，尽显匠心。不要错过哦！</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="love_see_btns">
                    <button class="btn btn_message" type="button">回复</button>
                    <button class="btn btn_blue btn_dialog_close" type="button">取消</button>
                </p>
                <div class="love_see_links">
                    <p><a href="#">上一封：和和美美的消息</a></p>
                    <p><a class="next" href="#">下一封：和和美美的消息</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-min.js"></script>
    <script src="../js/default.js"></script>
    <script src="../js/center.js"></script>
    <script src="../js/inbox.js"></script>
</body>

</html>
