
                                {% include "dynamic.html" %}
                                <span id='aim_a'>意向：{{ctx['user']['aim']}}</span>
                                <span id='age_a'>年龄：{{'未填' if ctx['user']['age'] == 0 else '%d岁'%ctx['user']['age']}}</span>
                                <span id='marr_a'>婚姻：{{ctx['user']['marriage']}}</span>
                                <span id='xz_a'>星座：{{ctx['user']['xingzuo']}}</span>
                                <span id='sx_a'>属相：{{ctx['user']['shengxiao']}}</span>
                                <span id='bd_a'>血型：{{ctx['user']['blood']}}</span>
                                <span id='wei_a'>体重：{{'未填' if ctx['user']['weight'] == 0 else '%dkg'%ctx['user']['weight']}}</span>
                                <span id='hei_a'>身高：{{'未填' if ctx['user']['height'] == 0 else '%dcm'%ctx['user']['height']}}</span>
                                <span id='xl_a'>学历：{{ctx['user']['degree']}}</span>
                                <span id='nation_a'>民族：{{ctx['user']['nation']}}</span>
                                <span id='cur_a'>现居：{{'未填' if not ctx['user']['curr_loc1'] or not ctx['user']['curr_loc2'] else '%s/%s'%(ctx['user']['curr_loc1'], ctx['user']['curr_loc2'])}}</span>
                                <span id='ori_a'>籍贯：{{'未填' if not ctx['user']['ori_loc1'] or not ctx['user']['ori_loc2'] else '%s/%s'%(ctx['user']['ori_loc1'], ctx['user']['ori_loc2'])}}</span>
